html{
    background-color: rgb(231, 221, 202);
    font-family: 'Lucida Sans', sans-serif;
}

body{
    margin: 0px
}

.titulo{
    margin-block-end: 0px;
    font-size: 50px;
    text-align:center
}

.subtitulo{
    margin-block-start: 0px;
    font-weight: 200;
    text-align:center
}

.header {
    width:100%;
    padding: 10px;
    display: inline-block;
    border-bottom: solid 3px;
    background-color: rgb(250, 250, 250);
}

.linkHeader {
    margin-right: 10px;
    font-weight: bold;
    text-decoration: none;
}

.container {
    margin: 10px;
}

footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    font-size: 12px;
    color: white;
    margin-top: 100px;
}

.secao {
    margin-bottom:50px;
}

.inline {
    display: inline-block;
}

.oasis {
    border: solid 3px;
    margin: 30px;
    vertical-align: middle;
}

.center {
    text-align:center
}

.produto {
    width: 400px;
    height: 400px;
    padding: 20px;
    text-align: center;
    float: left;
    margin: 10px;
    margin-bottom: 30px;
}

.img-produto {
    border: solid 2px;
    vertical-align: middle;
    max-width: 350px;
    max-height: 200px
}

.body-produto {
    background-color: white;
    border: 2px solid;
    padding: 10px;
    text-align: center;
    height: 80px;
}

.link-produto {
    border: 2px;
    border-style: outset;
    padding: 5px;
    font-weight: bold;
    text-decoration: none;
    background-color:black;
    color: white;
}

legend {
    font-size: 22px;
    font-weight: bold;
}

.preco {
    color: blue;
    font-weight: bold;
}